.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submitBtnContainer {
  position: relative;
  align-self: flex-start;
  min-width: 200px;
  margin-top: 10px;
}

.submitIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  color: #d6bc65;
}
